{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info gravatar-home-card">
    <section class="home-about">
        <div class="avatar">
            <img class="hovercard"
                 src="https://www.gravatar.com/avatar/bcaf1e211f10eeaaf7e5448b15e8b689e0e1eebb8007627dee5eb62bfea468f0?s=256"
                 alt="Martin Hung's Gravatar avatar"
                 width="144"
                 height="144"
                 data-gravatar-hash="bcaf1e211f10eeaaf7e5448b15e8b689e0e1eebb8007627dee5eb62bfea468f0">
        </div>
        <header class="entry-header">
            <h1>{{ .Title | markdownify }}</h1>
        </header>
        <div class="entry-content md-content">
            {{ $opts := dict "display" "block" }}
            {{ .Content | $.Page.RenderString $opts }}
        </div>
    </section>
</article>
{{- end -}}
